h2{
    font-size: 40px;
    margin-bottom: 3rem;
}

.signup{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.forgot-pass:hover{
    font-weight: 700;
    cursor: pointer;
}

.control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: #ebe3da;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.signup-footer{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error{
    background-color: #cd5050;
    color: white;
    font-weight: 700;
    position: absolute;
    font-size: 15px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;
    max-width: 30rem;
    border-radius: 1rem;
    bottom: 1rem;
}

.change-page:hover{
    font-weight: 600;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}