.password-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label-container{
    font-weight: 500;
    padding: 0.15rem 0.75rem;
}

.pass-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.25rem;
    width: 300px;
    border: none;
    border-radius: 0.5rem;
    padding: 0 0.75rem;
    font-weight: 500;
    color: #444341;
    transition: transform 0.3s ease;
}

.pass-container.scale {
    transform: scale(1.05);
}

.pass-internal{
    border: none;
    width: 80%;
    height: 2rem;
}

.pass-internal:active,.pass-internal:focus{
    outline: none;
}

.btn-show-pass{
    background-color: transparent;
    border: none;
    border-radius: 2rem;
    font-size: 16px;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

i:focus{
    outline: none;
}

button:focus{
    outline: none;
}