header{
    width: 80%;
    height: 3rem;
    position: sticky;
    background-color: #F0EBE1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #d0cdc3;
    border-radius: 2rem;
    margin-top: 1rem;
}

.logo{
    width: 10rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-name{
    font-size: 24px;
    font-weight: 700;

}

.logo-img{
    display: flex;
    height: 3rem;
}


.right-menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.search-container{
    display: flex;
    align-items: center;
    height: 1.95rem;
    padding: 0.75rem 0 0.75rem 0.75rem;
    border-radius: 2rem;
    border: 1px solid #aaa8a5;
    color: #444341;
    font-size: 14px;
    font-weight: 500;
    transition: ease-in-out;
}

.search-input{
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 700;
    transition: ease-in-out;
}

.search-input:focus, .search-input:active{
    outline: none;
}

.subscribe-btn{
    text-transform: uppercase;
    font-size: 14px;
    color: #F0EBE1;
    background-color: #444341;
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    font-weight: 700;
}

ul{
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    color: #444341;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    opacity: 0.55;
}

li{
    float: left;
}

.nav-current{
    opacity: 1;
    border-bottom: 3px solid #EE6352;
}

.nav-bar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar a:hover{
    opacity: 1;
}

.nav-bar ul{
    display: flex;
    gap: 1.5rem;
}

.closed{
    padding: 0;
    border: none;
}

.hide{
    transition: ease-in-out;
    width: 0;
    display: none;
}

.subscribe-btn:hover{
    background-color: #585855;
}

.subscribe-btn:active{
    transform: scale(0.95);
}
